@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Josefin Sans', 'Avenir', 'Roboto', sans-serif;
}

html,
body {
    /* background-color: #FFFDF9; */
    margin: 0px;
    padding: 0px;
}

.content {
    margin: 128px;
    margin-top: 48px;
}

.searchbar input {
   width: 808px;
   border-radius: 32px;
   border-color: #BACF99;
   border-style: solid;
}

nav {
    box-shadow: 0px 4px 10px #444;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

.event-card {
    border-radius: 58px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px #444;
    padding: 30px;
}

.card-event {
    color: #1E62B4;
    margin-bottom: 0;
    font-size: 40px;
}

.card-time {
    font-size: 40px;
}

.card-org {
    margin-top: 0;
    font-size: 30px;
}

.card-location {

}

.card-tags {
    background-color: #B8D7FC;
    border-radius: 18px;
    width: fit-content;
    padding: 0px 20px;
}

.card-delete {
    padding: 0px;
}

.card-info {
    display: none;
}
