@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500,400italic,600|Josefin+Sans:400,700,500");


.random {
  display: flex;
  height: 435px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.group-23 {
  display: flex;
  justify-content: center;
  top: 210px;
  position: absolute;
}

.group-24 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

