.Upload-form {
    background-color: #BACF99;
    border-radius: 58px;
    box-shadow: 0px 4px 10px #444;
    padding: 30px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 200px;
    top: 242px;
}

.Upload-image {
    background-color: #BACF99;
    border-radius: 58px;
    box-shadow: 0px 4px 10px #444;
    padding: 30px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 725px;
    top: 243.45px;
}