{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block styles %}{% endblock %}
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <nav>
        <div class="navbar">
            <div class='group-36-1'>
            <img src="../static/images/Group 36.png" style="width:8em; height:5em;" />
            </div>
            <div class='place'>
            <a href="/">home</a>
            </div>
            <div class='surprise-me'>
            <a href="/surprise_me">surprise me</a>
            </div>
            <div class='upload'>
            <a href="/upload">upload</a>
            </div>
        </div>
        </nav>
        <div class="content">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>