{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
Login 
{% endblock%} 
{% block styles %} 
{% endblock %} 
{% block body %}
<h1>hello, {{ user.username }}!</h1>

<a href="/logout"><button>Logout</button></a>

<div class="searchbar">
  <form method="POST" action="{% url 'Pennevents:search_results' %}">
    {% csrf_token %}
    <h2>Search</h2>
    <input
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="searched"
    />
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </form>
</div>

<div>
  {% for event in events %}
  <div class="event-card">
    <img src="spark-showcase.png" />
    <div>
      <div class="card-header">
        <h2 class="card-event">{{ event.event_name }}</h2>
        <h3 class="card-org">{{ event.name_of_org }}</h3>
      </div>
      <div class="card-tags">
        <p>TECH</p>
      </div>
    </div>
    <div>
      <div class="card-time">
        <p>{{ event.date }}</p>
        <p>{{ event.time }}</p>
      </div>
      <div class="card-location">
        <p>{{ event.location }}</p>
      </div>
    </div>
    <div class="card-info">
      <p>{{ event.description }}</p>
      <p>{{ event.ticket_info }}</p>
      <p>{{ event.social_media }}</p>
    </div>
    {% if event.author == user %}
    <a href="delete?id={{event.id}}">delete event</a>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
