@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.surprise-me-landing-page {
  align-items: flex-end;
  background-color: var(--soapstone);
  display: flex;
  flex-direction: column;
  height: 982px;
  overflow: hidden;
  padding: 1px 0;
  width: 1512px;
}

.group-37 {
  align-items: flex-start;
  display: flex;
  margin-right: -9px;
  min-width: 1518px;
}

.overlap-group {
  align-items: center;
  background-color: var(--soapstone);
  box-shadow: 0px 4px 10px 
#00000080;
  display: flex;
  height: 154px;
  min-width: 1512px;
  padding: 18px 28px;
}

.surprise-me {
  align-self: flex-end;
  color: 
#1e62b4;
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 6px;
  margin-left: 150px;
  min-height: 64px;
  text-align: center;
  width: 266px;
}

.group-36-1 {
  align-self: flex-start;
  height: 112px;
  object-fit: cover;
  width: 172px;
}

.upload {
  letter-spacing: 0;
  margin-left: 134px;
  margin-top: 18px;
  min-height: 40px;
  min-width: 125px;
  text-align: center;
}

.place {
  letter-spacing: 0;
  margin-left: 468px;
  margin-top: 12px;
  min-height: 40px;
  min-width: 98px;
  text-align: center;
}

.group-24 {
  height: 424px;
  margin-right: 165.43px;
  margin-top: 353px;
  width: 767px;
}