{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}

<div>
    {% for event in pick %}
    <div class="event-card">
      <img src="../static/images/spark-showcase.png" />
      <div>
        <div class="card-header">
          <h2 class="card-event">{{ event.event_name }}</h2>
          <h3 class="card-org">{{ event.name_of_org }}</h3>
        </div>
        <div class="card-tags">
          <p>TECH</p>
        </div>
      </div>
      <div>
        <div class="card-time">
          <p>{{ event.date }}</p>
          <p>{{ event.time }}</p>
        </div>
        <div class="card-location">
          <p>{{ event.location }}</p>
        </div>
      </div>
      <div class="card-info">
        <p>{{ event.description }}</p>
        <p>{{ event.ticket_info }}</p>
        <p>{{ event.social_media }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <a href="{{request.META.HTTP_REFERER|escape}}">Back</a>

{% endblock %}
