{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'randompage.css' %}" type="text/css" />
{% endblock %}

{% block body %}

<div class="surprise-me-landing-pagescreen">
  <div class="group-37">
    <div class="overlap-group">
      <img class="group-36" src="Group 36.png" />
      <h1 class="placejosefinsans-normal-black-40px">home</h1>
      <div class="surprise-me">surprise me</div>
      <div class="uploadjosefinsans-normal-black-40px">upload</div>
    </div>
  </div>
  <img class="group-24" src="Group 24.png" />
</div>

<div>
    {% for event in pick %}
<div class="event-card">
      <p>
        <strong>{{ event.event_name }}</strong>
      </p>
    <p>{{ event.name_of_org }}</p>
      <p>{{ event.date }}</p>
      <p>{{ event.time }}</p>
      <p>{{ event.location }}</p>
      <p>{{ event.description }}</p>
      <p>{{ event.ticket_info }}</p>
      <p>{{ event.social_media }}</p>
    </div>
    {% endfor %}
  </div>

  <a href="{{request.META.HTTP_REFERER|escape}}">Back</a>

{% endblock %}
