{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}

<div>
    {% for event in pick %}
<div class="event-card">
      <p>
        <strong>{{ event.event_name }}</strong>
      </p>
    <p>{{ event.name_of_org }}</p>
      <p>{{ event.date }}</p>
      <p>{{ event.time }}</p>
      <p>{{ event.location }}</p>
      <p>{{ event.description }}</p>
      <p>{{ event.ticket_info }}</p>
      <p>{{ event.social_media }}</p>
    </div>
    {% endfor %}
  </div>

  <a href="{{request.META.HTTP_REFERER|escape}}">Back</a>

{% endblock %}
