{% extends 'base.html' %}
{% load static %}
{% block title %}
Upload
{% endblock%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}" type="text/css" />
{% endblock %}
{% block body %}

<div class="Upload-form">

  <div class="Upload-names">
    <h4>Event Name</h4>
    <h4>Name of Org</h4>
    <h4>Date</h4>
    <h4>Time</h4>
    <h4>Location</h4>
    <h4>Description</h4>
    <h4>Ticket Info</h4>
    <h4>Social Media</h4>
  </div>

  <div class="Upload-fields">
    <form method="POST" action="/">
      {% csrf_token %}
      <input name="event_name" />
      <input name="name_of_org" />
      <input name="date" placeholder="MM/DD/YYYY" />
      <input name="time" placeholder="00:00 AM/PM" />
      <input name="location" />
      <input name="description" />
      <input name="ticket_info" placeholder="Link or Venmo handle" />
      <input name="social_media" />
      <input type="submit" value="PUBLISH">
    </form>
  </div>

  <div class="Upload-publish">
    <form method="POST" action="/">

    </form>
  </div>


</div>

<div class="Upload-image">
  <meta charset="UTF-8" />
  <title>Upload Image</title>
  <h2>Upload Cover Picture</h2>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <input type="file" id="my-file" name="upload_image">
      <input type="submit"></input>
    </form>
</div>
{% endblock %}